<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="search">
      <input class="search__text" type="text"
      name="search"
      v-model="searchText"
      placeholder="Ketikkan kata kunci">
  </div>
  <ul id="app">
    <li v-for="item in books">
      {{ item.judul }}
    </li>
  </ul>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          searchText: null,
          books: [
              { judul: "Kalkulus Dasar" },
              { judul: "Fisika Dasar" },
              { judul: "Aljabar Linier Elementer" },
              { judul: "Aljabar Abstrak" },
              { judul: "Algoritma Pemrograman" },
            ]
      },
      computed: {
        judulBuku() {
            if (this.searchText) {
                return this.books.filter((item) => {
                    return this.searchText
                    .toLowerCase()
                    .split(" ")
                    .every(v => item.title.toLowerCase().includes(v));
                });
            } else {
                return this.books;
            }
        }
      }
    })
  </script>

</body>
</html>